
{% extends 'base.html' %}

{% block title %}Todo-List{% endblock %}


{% block content %}

    {%if all_items %}
        <table class="table table-bordered">
        {% for object in all_items %}
            {% if object.completed %}
                <tr class="table-secondary">
                    <td>{{object.item}}</td>
                    <td>{{object.completed}}</td>
                    <td>Delete</td>
                </tr>
            {% else %}
                <tr>
                    <td>{{object.item}}</td>
                    <td>{{object.completed}}</td>
                    <td>Delete</td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}
